/* Your style goes here */
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-size: 22px;
  cursor:pointer;
}

.block--notes{
  display: flex;
  justify-content: space-between;
  }
.wrapper--card{
  display: flex;
  }
.block--message{
  display: inline-block;
  padding: 30px;
  width: 300px;
  margin: 50px auto 50px;
  box-shadow: 1px 1px 10px 10px #ebebeb;
  border: 2px #cecece solid;
  border-radius: 10px;
  }
.block--notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width:1200px
  }
.card{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 350px;
  height: 500px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 1px 1px 10px 10px #ebebeb;
  border: 2px #cecece solid;
  border-radius: 10px;
    a{
      display: inline;
      }
  }
 .link--wrap{
   
   }
 
  
 .hide{
   display: none;
   }
 .formAuth{
   display: block;
   max-width: 600px;
   margin:100px auto;
   }
